# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5832421ae433d76b8254dcdc398a1d2e622167bfafccd1877c78df13e69783a04cccee3247e3e156c9a3bdd32cfb32bd3cbaeab13f13bac8c8d2a487b2cda8b0

test:
  secret_key_base: e473bd273eba92dd9d83b27fb857277ac13157bf8954818842b0c39f5d9425bf6899f48d4cdd0edad0a21205ed3e84cf21e58633d92bd4d308fbd788d4506759

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
